snippet m2
	${1:something}
	$1
snippet m3
	${1:something}
	$1
	$1
snippet m4
	${1:something}
	$1
	$1
	$1
snippet l2
	${1:something} $1
snippet l3
	${1:something} $1 $1
snippet message
	${1:!}> @Author
	$1> Jianhua YANG
	$1>
	$1> @brief
	$1> ${0}
